<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/pico-master/css/pico.min.css">
    <title>Login</title>
  </head>
  <body>
    <nav class="container-fluid">
        <ul>
          <li><a href="./" class="contrast" onclick="event.preventDefault()"><strong><kbd>PassMan</kbd></strong></a></li>
        </ul>
        <ul>
            <li><a href="../SignUp/">Sign Up</a></li>
        </ul>
      </nav>
    <main class="container">
        <article class="grid">
          <div>
            <hgroup>
              <h1>Login</h1>
              <h2>Login to PassMan</h2>
            </hgroup>
            <form>
              <input type="text" name="login" placeholder="Login" aria-label="Login" autocomplete="nickname" required>
              <input type="password" name="password" placeholder="Password" aria-label="Password" autocomplete="current-password" required>
              <fieldset>
                <label for="remember">
                  <input type="checkbox" role="switch" id="remember" name="remember">
                  Remember me
                </label>
              </fieldset>
              <button type="submit" onclick="event.preventDefault()">Login</button>
            </form>
          </div>
          <div>
            <img src="bitwarden.png" alt="temp">
          </div>
        </article>
      </main>
  </body>
</html>





