{% extends "base.html" %}
{% block title %} Sign up {% endblock %}

{% block content %}
    <main class="container">
        <article class="grid">
            <!-- Preview -->
            <div>
            <hgroup>
              <h1>Sign up</h1>
              <h2>Sign up for password manager PassMan</h2>
            </hgroup>
              <form method = "POST">
                  <input type="email" name="email" placeholder="Email address" {% if errormsg.get("field")== "email" %} aria-invalid="true" {% endif %} aria-label="Name" required>
                  {% if errormsg.get("field")== "email" %} <small><mark>{{ errormsg.get("message") }}</mark></small> {% endif %}

                  <input type="text" name="name" placeholder="Name" {% if errormsg.get("field")== "name" %} aria-invalid="true" {% endif %} aria-label="Name" required>
                  {% if errormsg.get("field")== "name" %} <small><mark>{{ errormsg.get("message") }}</mark></small> {% endif %}


                  <input type="password" name="password1" placeholder="Password" {% if errormsg.get("field")== "password1" %} aria-invalid="true" {% endif %} required>
                  {% if errormsg.get("field")== "password1" %} <small><mark>{{ errormsg.get("message") }}</mark></small> {% endif %}

                  <input type="password" name="password2" placeholder="Confirm Password" {% if errormsg.get("field")== "password2" %} aria-invalid="true" {% endif %} required>
                  {% if errormsg.get("field")== "password2" %} <small><mark>{{ errormsg.get("message") }}</mark></small> {% endif %}

                  <button type="submit">Sign up</button>
                <fieldset>
                  <label for="terms">
                    <input type="checkbox" role="switch" id="terms" name="terms" required>
                    I agree to the <a href="#" onclick="event.preventDefault()">Privacy Policy</a>
                  </label>
                </fieldset>
              </form>
            </div>
            <div>
                <img src="static/bitwarden.png" alt="temp">
            </div>
        </article>
      </main>
{% endblock %}