<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pico-master/css/pico.min.css">
    <title>Totp</title>
  </head>
  <body>
    <nav class="container-fluid">
        <ul>
          <li><a href="./" class="contrast" onclick="event.preventDefault()"><strong><kbd>PassMan</kbd</strong></a></li>
        </ul>
        <ul>
            <li><a href="../SignUp/">Sign Up</a></li>
        </ul>
      </nav>
    <main class="container">
        <article class="grid">
            <!-- Preview -->
            <div>
            <hgroup>
              <h1>TOTP</h1>
              <h2>Enter TOPT to Login</h2>
            </hgroup>
              <form>
                  <input type="password" name="password" placeholder="Password" aria-label="Password" required>
                  <button type="submit">Sign up</button>
              </form>
            </div>
            <div>
                <img src="bitwarden.png" alt="temp">
            </div>
        </article>
    </main>
    </body>
    </html>