{% extends "base.html" %}
{% block title %} TOTP {% endblock %}

{% block content %}
    <main class="container">
        <article class="grid">
            <!-- Preview -->
            <div>
            <hgroup>
              <h1>TOTP</h1>
              <h2>Enter TOPT to Login</h2>
            </hgroup>
              <form>
                  <input type="password" name="password" placeholder="Password" aria-label="Password" required>
                  <button type="submit">Sign up</button>
              </form>
            </div>
            <div>
                <img src="static/bitwarden.png" alt="temp">
            </div>
        </article>
    </main>
{% endblock %}